.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
logs/
share/
node_modules/
notes/
.vscode/
.venv/
.agents/
.postman/
postman/
test/
alembic/versions/__pycache__/
*.log
*.pem
.env.local
infra/
