# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# VSCode
.vscode/

# Environment files
.env*

# Docker
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
*.log.*
logs/
debug.log.*
error.log.*

# MySQL dumps
*.sql

# Build
build/
dist/
*.egg-info/

# Ignore local dev files
*.local
share/
application-requirements.txt
notes/
test/testdata/
seed_data_completed.chk

#Builds
build/
dist/